# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# OSX
#
.DS_Store

# Venv
#
venv/**

# Byte-compiled / optimized / DLL files
#
productsearch/products/__pycache__/**
__pycache__/
*.py[cod]
*$py.class