/****** colors ******/
.firetruck {
    color: #CE2029;
}

.babyblue {
    color: #D5EEFF;
}

.darkbluegrey {
    color: #394D61;
    border-color: #53687E;
    background-color: #495C70;
}

/****** full page / utilities ******/
.container {
    background: #394D61;
    height: 100%;
}

body, html {
    margin: 0;
    min-height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body::-webkit-scrollbar, div::-webkit-scrollbar {
    background-color: #53687E;
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
    background-color: #A8BACE;
    border-radius: 8px;
}

* {
    box-sizing: inherit;
}

body, h1, h2, th, td {
    font-family: 'Lato', sans-serif;
}

td {
    font-weight: 300;
}

.no-bottom-border {
    border-bottom: none !important;
}

/****** header section ******/
.header-section {
    width: 100%;
    height: 80px;
    background-color: #495C70;
    color: #FFFFFF;
    padding: 20px 20px 0 20px;
}

h1 {
    display: inline-block;
    width: auto;
    margin-bottom: 15px;
    padding-bottom: 1px;
    /*border-bottom: 4px solid #FFFFFF;*/
}

/****** footer section ******/
.footer-section {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    /*bottom: 0;*/
    padding: 20px 20px 20px 20px;
    background: #394D61;
}

.footer-links {
    float: left;
}

.footer-sig {
    float: right;
    /*height: 100%;*/
    /*vertical-align: bottom;*/
}

.footer-sig-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 20px 30px 20px;
    color: #576E86;
    font-weight: 300;
}

.footer-link {
    padding: 10px 0;
}

.footer-link a {
    font-size: 14px;
    font-weight: 300;
    text-underline-style: none !important;
    text-decoration: none !important;
}

/****** table section *****/
.table-section {
    width: 100%;
    padding: 20px;
    background-color: #495C70;
    table-layout: fixed;
}

table {
    /*table-layout: fixed;*/
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #53687E;
}

thead th {
    text-align: start;
    background-color: #53687E;
    color: #FFFFFF;
}

thead th:nth-child(1), tr td:nth-child(1) {
    width: 11%;
}

thead th:nth-child(3), tr td:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4), tr td:nth-child(4) {
    width: 10%;
}

thead th:nth-child(5), tr td:nth-child(5) {
    width: 15%;
}

thead th:nth-child(6), tr td:nth-child(6) {
    width: 8%;
}

thead th:nth-child(7), tr td:nth-child(7) {
    width: 8%;
}

thead th:nth-child(8), tr td:nth-child(8) {
    width: 8%;
}

th, td {
    margin: 5px;
    padding: 8px;
    color: #FFFFFF;
}

th {
    letter-spacing: 1px;
}

tbody tr {
    border-bottom: 1px solid #83A4C5;
}

tbody tr:nth-child(even) {
    background-color: #576E86;
}

tbody tr:nth-child(odd) {
    background-color: #576E86;
}

.scroll-table-wrap {
    height: 50%;
    min-height: 250px;
    overflow-y: auto;
}

.product-count {
    padding: 10px 0 0 0;
    font-size: 14px;
    font-weight: 300;
    color: #A8BACE;
}

/****** search section ******/
.search-section {
    width: 100%;
    background: #495C70;
    margin: 0;
    padding: 20px;
}

.adv-search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adv-search-left, .adv-search-center, .adv-search-right {
    flex: 1;
}

.form-field-div {
    margin: 15px 20px 15px 0;
    display: flex !important;
    justify-content: flex-start;
}

.form-field-div > label {
    flex: 1;
}

.form-field-div > input {
    flex: 2;
}

.form-field-title {
    padding: 5px 0;
    color: #FFFFFF;
    font-size: 16px;
    /*flex: 1;*/
}

.form-field-label {
    padding: 5px 0 5px 0;
    background: #495C70;
    color: #FFFFFF;
    border-style: none;
    /*border-bottom: 1px solid #394D61;*/
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-style: normal;
}

.form-field-min-max {
    display: flex;
}

.form-field-min, .form-field-max {
    /*flex: 1;*/
}

.form-field-min, .form-field-max {
    /*flex: 1;*/
    /*margin-right: auto;*/
}

.form-field-max {
    /*margin-left: 5px;*/
}

h2 {
    padding-top: 0;
    margin: 0 0 10px 0;
    color: #FFFFFF;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input.search-box {
    background: #495C70;
    width: auto;
    padding: 5px 5px 5px 0;
    margin: 0;
    border-style: none;
    border-bottom: 1px dashed #83A4C5;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}

input.search-box.min-max-box {
    width: 100px;
}

input[type=submit].search-button {
    padding: 8px 15px 6px 15px;
    margin-left: 4px;
    background: #576E86;
    color: #A8BACE;
    border-style: none;
    /*border-bottom: 1px dashed #83A4C5;*/
    /*border-left-style: none;*/
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
}

input[type=submit].search-button:hover {
    background: #394D61;
}

input.search-box:focus {
    border-bottom: 1px dashed #D9FFA9;
}

.form-error {
    color: red;
    padding-top: 10px;
}

*:focus {
    outline: none;
}

/****** href links ******/
a {
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
}
