/****** colors ******/
.firetruck {
    color: #CE2029;
}

.babyblue {
    color: #D5EEFF;
}

.darkbluegrey {
    color: #394D61;
    border-color: #53687E;
    background-color: #495C70;
}

/****** full page ******/
.container {
    background: #394D61;
}

body {
    margin: 0;
}

/****** header section ******/
.header-section {
    width: 100%;
    height: 80px;
    background-color: #495C70;
    color: #FFFFFF;
    padding: 20px 20px 0 20px;
}

h1 {
    display: inline-block;
    width: auto;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #FFFFFF;
}

/****** table section *****/
.table-section {
    padding: 20px;
    background-color: #495C70;
    /*height: 60%;*/
    /*overflow: auto;*/
}

table {
    /*table-layout: fixed;*/
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #53687E;
}

thead th {
    text-align: start;
    background-color: #53687E;
    color: #FFFFFF;
}

thead th:nth-child(1) {
    width: 11%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 10%;
}

thead th:nth-child(5) {
    width: 10%;
}

thead th:nth-child(6) {
    width: 8%;
}

thead th:nth-child(7) {
    width: 8%;
}

thead th:nth-child(8) {
    width: 8%;
}

th, td {
    margin: 5px;
    padding: 5px;
    color: #FFFFFF;
}

th {
    letter-spacing: 1px;
}

tbody tr {
    border-bottom: 1px solid #83A4C5;
}

tbody tr:nth-child(even) {
    background-color: #576E86;
}

tbody tr:nth-child(odd) {
    background-color: #576E86;
}

/****** search section ******/
.search-section {
    background: #495C70;
    margin: 0;
    padding: 20px;
}

.form-field-div {
    margin: 15px 0;
}

.form-field-title {
    padding: 5px 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.form-field-label {
    padding: 5px 0 5px 0;
    background: #495C70;
    color: #FFFFFF;
    border-style: none;
    /*border-bottom: 1px solid #394D61;*/
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-style: normal;
}

.form-field-min-max {
    width: 100%;
}

.form-field-min, .form-field-max {
    width: 50%;
}

.form-field-min {
    margin-right: auto;
}

.form-field-max {
    margin-left: 5px;
}

h2 {
    margin: 0 0 10px 0;
    color: #FFFFFF;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input.search-box {
    background: #495C70;
    width: 20%;
    padding: 5px 5px 5px 0;
    margin: 0;
    border-style: none;
    border-bottom: 1px dashed #83A4C5;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}

input.search-box.min-max-box {
    width: 5%;
}

input[type=submit].search-button {
    padding: 8px 15px 6px 15px;
    margin-left: 4px;
    background: #576E86;
    color: #A8BACE;
    border-style: none;
    /*border-bottom: 1px dashed #83A4C5;*/
    /*border-left-style: none;*/
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
}

input[type=submit].search-button:hover {
    background: #394D61;
}

input.search-box:focus {
    border-bottom: 1px dashed #D9FFA9;
}

*:focus {
    outline: none;
}

/****** href links ******/
a {
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
}
